@import '../config';
@import '../buttons';
@import '../cards';
@import '../colors';
/*
These are settings for a wide screen
Some elements and transitions are only 
available for tablet or smaller 
laptop/desktop screen
*/
:root{
    background: $blueSky;
}
@media screen and (max-width: $mobile){
    .boxCard{
        width: 100%;
    }

    #ans-box{
        padding-left: 10px;
        margin-bottom: 20px;
    }

    #button{
        width: 100%;
    }

    #question-bar{
        padding-left: 28px;
    }
    /*End of Box Cards*/

    /*Start of Buttons*/
    .startButton{
        width: 100%;
        border-radius: 8px;
        height: 160px;
    }

    #start, #highScore{
        font-size: 22px;
    }


    #start{
        margin-bottom: 15px;
    }

    .title{
        font-size: 35px;
        text-align: center;
        margin-bottom: 15px;
    }

    .startButton:hover{
        flex-grow: 1;
        border-radius: 6px;
        transform: scale(1.2);
        box-shadow: 0px 10px 3px -3px black;
    }

    .ans{
        padding: $answersPhoneSize; 
        font-size: 20px;
    }

    .choiceButton{
        width: 50%;
        padding: $answersPhoneSize;
        height: 60px;
        margin-right: 10px;
        border-radius: 5px;
        font-size: 40px;
    }

    #quit, #next{
        margin-top: 10px;
    }

    .choiceButton:hover{
        transform: scale(1.5);
        border-radius: 10px;
        font-size: 48px;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: $bounceTiming;
        transition-delay: 0s;
    }

    #controllers{
        margin-top: -15px;
        margin-bottom: 30px;
        flex-flow: row wrap;
    }

    .homeButton{
        width: 380px;
        height: 65px;
        border-radius: 9px;
        margin-bottom: 30px;
        font-size: 30px;
    }

    .homeButton:hover{
        transform: scale(1.5);
    }

    .scoreButtons:hover{
        transform: scale(1.5);
    }
    
    /*End of Buttons*/

    /*Start or Logic colors*/
/*     .correct{
        transform: scale(1.5);
    }

    .wrong{
        transform: scale(1.1);
    }
 */
    .wrong, .correct{
        width: 320px;
        height: 0px;
        margin-top: 10px;
        border-radius: 10px;
        padding: $answers;
        font-size: 35px;
    }

    #time-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;;
        .displayTimeLeft{
            align-self: flex-end;
            font-size: 25px;
            font-family: novaFlat, cursive;
        }
    }

    #score{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .score{
        font-size: 30px;
        font-family: novaFlat, cursive;
    }

    #scoreNumber{
        margin-left: 20px;
    }

    #top{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 75%;
    }

    ul{
        font-size: 70px;
    }

}

@media only screen and (max-width: $galaxyFold){
    #ans-box{
        padding-left: 30px;
    }

    #question-bar{
        padding-left: 40px;
    }

    #controllers{
        width: 100%;
        padding-left: 20px;
    }

    .choiceButton{
        width: 70%;
    }

    .title{
        font-size: 32px;
    }
}